section
  section
    h2.title STRINGS

  section
    pre
      code.javascript.
        const hero = 'The Flash';

        //ES6
        hero.startsWith('The') // true;
        hero.endsWith('sh') // true;
        hero.includes('Fla') // true;

        'huebr'.repeat('5') //huebrhuebrhuebrhuebrhuebr

        //ES8
        '6'.padStart(5, '0'); //00006
        '6'.padEnd(5, '0'); //60000
