section
  section
    h2.title DESTRUCTURING

  section
    h4.title Objects

    pre
      code.javascript.
        // pré ES6
        var vilan = {
          name: 'Magneto',
          power: 'Manipulação de campos magnéticos',
          hasCape: true,
          hasHelmet: true,
        };

        var name = vilan.name;
        var power = vilan.power;
        var hasCape = vilan.hasCape;
        var hasHelmet = vilan.hasHelmet;

        console.log(name, power, hasCape, hasHelmet);
        // Magneto Manipulação de campos magnéticos true true

  section
    pre
      code.javascript.
        // pós ES6
        const vilan = {
          name: 'Magneto',
          power: 'Manipulação de campos magnéticos',
          hasCape: true,
          hasHelmet: true,
        };

        const { name, power, hasCape, hasHelmet } = vilan;

        console.log(name, power, hasCape, hasHelmet);
        // Magneto Manipulação de campos magnéticos true true

  section
    pre
      code.javascript.
        // pós ES6
        const vilan = {
          name: 'Magneto',
          power: 'Manipulação de campos magnéticos',
          hasCape: true,
          hasHelmet: true,
        };

        const { name, power: superPower, hasCape, hasHelmet,
          publisher = 'Marvel' } = vilan;

        console.log(name, superPower, hasCape, hasHelmet, publisher);
        // Magneto Manipulação de campos magnéticos true true Marvel

  section
    h4.title Arrays

    pre
      code.javascript.
        // pós ES6
        const vilan = [
          'Magneto',
          'Manipulação de campos magnéticos',
          true,
          true
        ];

        const [ name, power, hasCape, hasHelmet,
          publisher = 'Marvel'] = vilan;

        console.log(name, power, hasCape, hasHelmet, publisher);
        // Magneto Manipulação de campos magnéticos true true Marvel
