section
  section
    h2.title SYMBOLS

  section
    pre
      code.javascript.
        let symbol = Symbol('Identificador');
        let symbolCopia = Symbol('Identificador');

        console.log(symbol === symbolCopia) // false

        let a = 'a';
        let b = 'a';
        console.log(symbol === symbolCopia) // true

  section
    pre
      code.javascript.
        let obj = {
          [Symbol('Identificador')]: '1' ,
          name: 'Objeto com identificador'
        };

        console.log(Object.keys(obj));
        // { name: "Objeto com identificador",
        //  Symbol(Identificador): "1" }

        console.log(Object.keys(obj));
        // ["name"]

        console.log(Object.getOwnPropertySymbols(obj));
        // [Symbol(Identificador)]
