section
  section
    h2.title ASYNC / AWAIT

  section
    pre
      code.javascript.
        const sleepAndResolve = async function() {
          return new Promise((resolve, reject)=>{
            setTimeout(() => {
              resolve({ status: 'resolved :D' });
            }, 2000);
          });
        };

        async function demoAsyncAwait() {
          console.log('Iniciando a função');
          const data = await sleepAndResolve();
          console.log('Finalizando a função');
          console.log(data);
        }

        demoAsyncAwait();
        // Iniciando a função
        // APÓS 2 SEGUNDOS...
        // Finalizando a função
        // {status: "resolved :D"}

  section
    h4.title Tratamento de erros feito com try / catch
