section
  section
    h2.title VAR, LET, CONST

  section
    h3.title VAR

    pre
      code.javascript.
        // declaração de variáveis pré ES6
        var jedi = 'Luke Skywalker';

        // sofre hoisting
        jedi = 'Luke Skywalker';
        var jedi;

  section
    h3.title LET

    pre
      code.javascript.
        // declaração de variáveis pós do ES6
        // valor pode ser alterado
        let jedi = 'Luke Skywalker';

        jedi = 'yoda';

  section
    h3.title CONST

    pre
      code.javascript.
        // "imutável"
        const jedi = 'Luke Skywalker';
        jedi = 'Anakin';
        // Uncaught TypeError: Assignment to constant variable.

        const jedi = {
          name: 'Luke Skywalker',
          lightsaberColor: 'azul',
        }

        jedi.lightsaberColor = 'vermelho';
