section
  h2.title Referências
  p.small <i>https://github.com/tc39/proposals</i>
  p.small <i>https://www.ecma-international.org/publications/standards/Ecma-262-arch.htm</i>
  p.small <i>https://tc39.github.io/process-document/</i>
  p.small <i>https://www.udemy.com/js-com-tdd-na-pratica</i>
  p.small <i>https://en.wikipedia.org/wiki/ECMAScript</i>
  p.small <i>http://nitayneeman.com/posts/a-taste-from-ecmascript-2018/</i>
  p.small <i>https://developer.mozilla.org/pt-BR/docs/Web/JavaScript/Reference/template_strings</i>
