section
  section
    h2.title OBJECTS

  section
    h4.title Array.from()

    pre
      code.javascript.
        const hero = Array.from('Batman');

        console.log(hero);
        // ["B", "a", "t", "m", "a", "n"]

        console.log(hero.join(''));
        // 'Batman'

        // é possível utilizar todas as funçoes
        // presentes em um array

  section
    h4.title Array.of()

    pre
      code.javascript.
        const array = Array.of('Batman', 'Dark Knight', 1, 2, {});

        console.log(array);
        // ["Batman", "Dark Knight", 1, 2, {}]

        console.log(hero.join(''));
        // "BatmanDark Knight12[object Object]"

        // é possível utilizar todas as funçoes
        // presentes em um array

  section
    h4.title Array.find() & Array.findIndex()

    pre
      code.javascript.
        const heroes = [
          { name: 'Hulk', publisher: 'Marvel' },
          { name: 'Spiderman', publisher: 'Marvel' },
          { name: 'Thor', publisher: 'Marvel' },
          { name: 'Iron Man', publisher: 'Marvel' },
        ];

        console.log(heroes.find(hero => hero.name === 'Thor'));
        // { name: 'Thor', publisher: 'Marvel' }

        console.log(heroes.findIndex(hero => hero.name === 'Thor'));
        // 2

  section
    h4.title Array.fill()

    pre
      code.javascript.
        let heroes = [
          { name: 'Hulk', publisher: 'Marvel' },
          { name: 'Spiderman', publisher: 'Marvel' },
          { name: 'Thor', publisher: 'Marvel' },
          { name: 'Iron Man', publisher: 'Marvel' },
        ];

        heroes.fill('hueBR', 1, 3);
        console.log(heroes);
        // [
        //  { name: 'Hulk', publisher: 'Marvel' },
        //  "hueBR",
        //  "hueBR",
        //  { name: 'Iron Man', publisher: 'Marvel' },
        // ]
