section
  section
    h3.title Object Shorthand Properties

  section
    pre
      code.javascript.
        // pré ES6
        var name = 'Yoda';
        var lightsaberColor = 'verde';
        var darkSide = false;

        var jedi = {
          name: name,
          lightsaberColor: lightsaberColor,
          darkSide: darkSide,
        }

  section
    pre
      code.javascript.
        // pós ES6
        const name = 'Yoda';
        const lightsaberColor = 'verde';
        const darkSide = false;

        const jedi = {
          name,
          lightsaberColor,
          darkSide,
        }
