section
  section
    h2.title OBJECTS (ES8)

  section
    h4.title Object.entries()

    pre
      code.javascript.
        const heroes = {
          hulk: 0,
          thor: 1,
          blackPanther: 2,
          drStrange: 3,
        }

        console.log(Object.entries(heroes));
        //[
        //   ["hulk", 0]
        //   ["thor", 1]
        //   ["blackPanther", 2]
        //   ["drStrange", 3]
        //]

  section
    h4.title Object.values()

    pre
      code.javascript.
        const heroes = {
          hulk: 0,
          thor: 1,
          blackPanther: 2,
          drStrange: 3,
        }

        console.log(Object.values(heroes));
        //[0, 1, 2, 3]
