section
  h2 @icarcal
  a(href="https://github.com/icarcal") <i style="margin-right:20px" class="fa fa-github"></i>
  a(href="https://medium.com/@icarcal") <i style="margin-right:20px" class="fa fa-medium"></i>
  a(href="https://www.facebook.com/icarcal") <i style="margin-right:20px" class="fa fa-facebook"></i>
  a(href="https://twitter.com/icarcal") <i class="fa fa-twitter"></i>
