section
  section
    h2.title GENERATORS

  section
    pre
      code.javascript.
        function *generatorSteps() {
          console.log('first');
          yield 'first yield';
          console.log('second');
          yield 'second yield';
          console.log('third');
          yield 'third yield';
        }

        const iterator = generatorSteps();

        iterator.next();
        // first
        // {value: "first yield", done: false}

        iterator.next();
        // fisecondrst
        // {value: "second yield", done: false}

        iterator.next();
        // third
        // {value: "third yield", done: false}

        iterator.next();
        // third
        // {value: undefined, done: true}
