doctype html
html
  include inc/head
  body
    .reveal
      .slides
        include ../slides/slide-1-title
        include ../slides/slide-2-about-me
        include ../slides/slide-3-ES-proposal-flow
        include ../slides/slide-4-ES-dates
        include ../slides/slide-5-var-let-const
        include ../slides/slide-6-template-literals
        include ../slides/slide-7-object-properties
        include ../slides/slide-8-functions
        include ../slides/slide-9-strings
        include ../slides/slide-10-arrays
        include ../slides/slide-11-objects
        include ../slides/slide-12-destructuring
        include ../slides/slide-references
    include inc/scripts
